extends ./index

block content
	ul
		li
			a(href='/category/add') /category/add
		li
			a(href='/category/get/') /category/get/:id
		li
			a(href='/category/list') /category/list

	ul
		li
			a(href='/listing/add') /listing/add
		li
			a(href='/listing/get/:id') /listing/get/:id
		li
			a(href='/listing/search') /listing/search